---
const {company, position, from, to, description, stack} = Astro.props;
---

<div class='grid grid-cols-7 gap-2 drop-shadow-md mb-10 text-secondary transition-all duration-700'>
  <h4 class="col-span-7 font-bold">{company}</h4>
  <span class="col-span-4 text-left text-viva_magenta_shade">{position}</span>
  <span class="col-span-3 text-right italic">{from} - {to ? to : 'Present'}</span>
  <p class="col-span-7 py-1">{description}</p>
  <div class="col-span-7 flex flex-wrap gap-2">
    {stack && stack.map(tech => (
      <span class="p-1 bg-four tracking-wide font-semibold text-sm text-ternary border border-ternary border-dotted rounded-lg">{tech}</span>
    ))}
  </div>
</div>
