---
import Logo from './Logo.astro';

const menuBarStyle = {
  common: 'h-0.5 bg-gradient-to-br from-viva_magenta_shade to-viva_magenta from-10% collapsed outline-0',
  animation: 'transition-[width] duration-1000 transform-gpu',
  transform: '[&:not(.collapsed)]:opacity-70 [&:not(.collapsed)]:first:w-0 [&:not(.collapsed)]:last:w-0 [&:not(.collapsed):not(:first-child):not(:last-child)]:w-0',
  close: 'animate-wiggle',
}
const {withTitle: title, withLogo: logo} = Astro.props;
---

<nav role="navigation" class="grid grid-cols-menu row-span-2 content-start">
  { logo && <Logo /> }
  { !logo && <span /> }
  { title && <h2 class="mb-2 italic font-serif font-medium tracking-wider">{title}</h2> }
  <button class="lg:hidden h-4 w-6 grid mb-2 content-between" data-toggle="menu" id="menu-button" aria-label="Navigation menu">
    <div class={`${menuBarStyle.common} ${menuBarStyle.animation} ${menuBarStyle.transform} w-full`} />
    <div class={`${menuBarStyle.common} ${menuBarStyle.animation} ${menuBarStyle.transform} w-9/12`} />
    <div class={`${menuBarStyle.common} ${menuBarStyle.animation} ${menuBarStyle.transform} ${menuBarStyle.close} w-7/12`} />
  </button>
  <ul class="col-span-3 -mx-4 px-4 py-1 text-right text-base bg-cyan-700/10 backdrop-blur-md shadow-md shadow-gray-950/20 hidden" id="menu">
    <li class="py-2">
      <a href="#hero">About me</a>
    </li>
    <li class="py-2">
      <a href="#blog">Blog</a>
    </li>
    <li class="py-2">
      <a href="#contact">Contact</a>
    </li>
  </ul>
</nav>

<script>
  let isOpen = false;
  const button = document.querySelector('button#menu-button');
  const menu = document.querySelector('ul#menu');

  button.addEventListener('click', () => {
    isOpen = isOpen ? false : true;
    if (isOpen) {
      menu.classList.remove('hidden');
      for (const child of button.children) {
        child.classList.remove('collapsed');
      }
    }
    if (!isOpen) {
      menu.classList.add('hidden');
      for (const child of button.children) {
        child.classList.add('collapsed');
      }
    }
  });
</script>
